<!DOCTYPE html>
<html lang="en">
<head>
    <title><?makedown title?></title>
    <meta charset="UTF-8" />
    <meta name="description" content="<?makedown description?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="<?makedown author?>" />
    <meta name="date" content="<?makedown date?>" />
    <meta name="generator" content="<?makedown version?>" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <header class='pageheader'>
        <div class='title'>
            <a href='/'>
                <img alt='musl libc logo' src='/logo.png' class='logo' />musl libc
                <small class='title'>A new libc striving to be fast, simple, lightweight, free, and correct</small>
            </a>
        </div>
        <form action='https://duckduckgo.com' class='search'>
            <input type='hidden' name='sites' value='wiki.musl-libc.org' />
            <input type='search' name='q' autocomplete="on" placeholder='Search the wiki...' />
        </form>
    </header>
    <nav class='toc'>
        <?makedown toc?>
    </nav>
    <main>
        <header>
            <h1><?makedown title_unprefixed_escaped?></h1>
        </header>
        <?makedown body?>
    </main>
    <footer>
        You can contribute to this wiki! Submit pull-requests to <a href='https://github.com/somasis/musl-wiki'>somasis/musl-wiki</a>.<br />
        <a href='https://travis-ci.org/somasis/musl-wiki'><img alt='Build Status' src='https://img.shields.io/travis/somasis/musl-wiki.svg?style=flat-square' /></a>
        <a href='https://github.com/somasis/musl-wiki/issues'><img alt='GitHub Issues' src='https://img.shields.io/github/issues/somasis/musl-wiki.svg?style=flat-square' /></a><br />
        <small>
            This work is licensed under the <a href='http://creativecommons.org/licenses/by-sa/3.0'>Creative Commons Attribution-ShareAlike 3.0 Unported license</a>, unless otherwise noted.<br />
            <a title='Latest commit to this page' href='https://github.com/somasis/musl-wiki/commit/<?makedown file_commit?>'><?makedown file_commit?></a> / <a title='Latest commit to entire site' href='https://github.com/somasis/musl-wiki/commit/<?makedown tree_commit?>'><?makedown tree_commit?></a>
        </small>
    </footer>
</body>
</html>
