@media all and (min-width: 940px) {
    #head ul.actions {
        margin-top: 12px;
    }
}

.minibutton a, .minibutton a:hover, #searhc-submit, #search-submit:hover, #search-submit span, #search-submit span:hover {
    background: initial;
    background-image: none;
    color: inherit;
    text-shadow: 0 0px;
    border: 0px;
    border-radius: 0px;
}

.minibutton a:hover {
    text-decoration: underline;
}

#search-submit span:hover {
    background-color: rgba(0,0,0,.5);
}
